# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.eggs/

# Environnements virtuels
venv/
env/
.venv/
*/venv/
*/env/

# Django
*.sqlite3
*.log
media/
staticfiles/
local_settings.py
db.sqlite3

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# Build React/Vite
dist/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# IDE
.vscode/
.idea/
*.swp
*.swo

# Archives
*.tar.gz
*.zip
*.gz

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/
*.ipa

# Android
*.apk
*.aab
*.keystore
local.properties
.gradle/

# Secrets
.env
.env.*
secrets.py
