asgiref==3.11.1
dj-database-url==2.3.0
Django==5.2.12
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
inflection==0.5.1
packaging==26.0
pillow==12.1.1
PyJWT==2.12.1
pytz==2026.1.post1
PyYAML==6.0.3
gunicorn==23.0.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
sqlparse==0.5.5
uritemplate==4.2.0
whitenoise==6.9.0
